<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - Slide Show (S9) - A Free Web Alternative to PowerPoint and Keynote in Ruby</title>
   <link rel="stylesheet" href="styles/slideshow.css" type="text/css">
   <link rel="icon"       href="i/favicon.png"   type="image/png">
</head>
<body>

  <div id="header">
    <span class='big'>Slide Show (S9)</span>
    <span class='small'>a free web alternative to PowerPoint and Keynote in Ruby</span>
  </div>

  <div id="nav">
   
    <a href="index.html">Home</a> |
    <a href="tutorial.html">10-Minute Quick Start Guide</a> |
    <a href="command.html">Command Line Reference</a> |
    <a href="more.html">Settings, Tips, Tricks and More</a> |
    <a href="plugins.html">Plugins, Helpers</a> |    
    <a href="code.html">Syntax Highlighting</a> | 
    <a href="templates.html">Template Pack Gallery</a> | 
    <a href="themes.html">Gradient Themes</a> | 
    
    <a href='templateref.html'>Template Reference</a> |
    
    <a href="http://groups.google.com/group/webslideshow">What's New? &middot; Forum (Questions? Comments?)</a> |

       <a href="https://github.com/slideshow-s9">Code, Repo</a>
    <!--
    <a href="http://github.com/geraldb/slideshow"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" ></a>
     -->
     
  </div>
    
    <div id="content">
      {{ content }}
      
      {% include editme.html %}
    </div>

    {% include google_analytics.html %}

</body>
</html>