<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - Slide Show (S9) - A Free Web Alternative to PowerPoint and Keynote in Ruby</title>
   <link rel="stylesheet" href="css/slideshow.css" type="text/css">
   <link rel="icon"       href="i/favicon.png"   type="image/png">

  {% include google_analytics.html %}

</head>
<body  style='margin: 0;'>

  {% include banner.html %}

<!-- wrap in container -->
<div style='margin: 6px;'>


  <div id="header">
    <span class='big'>Slide Show (S9)</span>
    <span class='small'>a free web alternative to PowerPoint and Keynote in Ruby</span>
  </div>

  <div id="nav">
   
    <a href="index.html">Home</a> |
    <a href="demos/tutorial.html">10-Minute Quick Start Guide</a> |
    <a href="command.html">Command Line Reference</a> |
    <a href="more.html">Settings, Tips, Tricks and More</a> |
    <a href="plugins.html">Plugins, Helpers</a> |    
    <a href="code.html">Syntax Highlighting</a> | 
    <a href="gallery.html">Template Pack Gallery</a> | 
    <a href="themes.html">Gradient Themes</a> | 
    <a href='settings.html'>Settings Reference</a> |

    <a href="https://github.com/slideshow-templates">Template Repos</a> | 
    <a href='http://slideshow-templates.github.io'>Template Reference</a> |

    <a href="http://groups.google.com/group/wwwmake">What's New? &middot; Forum (Questions? Comments?)</a> |

    <a href="https://github.com/slideshow-s9">Tools & Code Repos</a>

  </div>

   {% include announce.html %}
    
    <div id="content">
      {{ content }}
      
      {% include editme.html %}
    </div>

</div>
</body>
</html>
